<!DOCTYPE html>
<html>
	<head>
		<!-- <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}"> -->
	</head>
	<body>
		<h1>Catalog App</h1>
		{% if login_session['email'] %}
			{{login_session['email']}}
			<a href="{{url_for('disconnect')}}">Sign out</a>
		{% endif %}
		{% if not login_session['email'] %}
			<a href="{{url_for('showLogin')}}">Sign in</a>
		{% endif %}	
		<a href="{{url_for('showLatestItems')}}">Home</a>
		<h2>{{item.name}}</h2>
		<div>
			<p>{{item.description}}</p>
			<p>Created Time: {{item.ctime.strftime("%d-%m-%Y %H:%M")}}</p>
			<p>Latest Edited Time: {{item.mtime.strftime("%d-%m-%Y %H:%M")}}</p>
		</div>
	</body>
</html>